.DS_Store
Thumbs.db

.vscode/
.idea/

output/
*.log

.cache/
.tmp/
*.tmp
.bge_cache/

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/

.ipynb_checkpoints/

*.swp
*.swo

.env

#*.png

temp/
